{{ define "content" }}
    <div class="main">
        <div class="container">
            <div class="section col-md-7">
                <div style="font-size:14px">
                <p>下载客户端，访问更便捷</p>
            <p></p>
         
                
            
<div style="margin-top: 50px">
    <p>Tips: 客户端内可点击鼠标右键返回上一页</p>
    <a class="download" href="../assets/pake/GoodRecommand.msi" class="nav-link">Windows 11 安装包下载</a></br>
            <a class="download" href="../assets/pake/GoodRecommand.dmg" class="nav-link">Mac Os 安装包下载</a>
</div>
                </div>
            </div>
            
     
            
        </div>
       
    </div>
{{end}}