{{ define "content" }}

    <div class="main">
        <div class="container">

            <div class="section">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body ">
                                <h6 class="card-category text-danger">
                                    <i class="material-icons">trending_up</i> Trending
                                </h6>
                                <h4 class="card-title">
                                    <a href="#pablo">To Grow Your Business Start Focusing on Your Employees</a>
                                </h4>
                            </div>
                            <div class="card-footer ">
                                <div class="author">
                                    <a href="#pablo">
                                        <img src="../assets/img/faces/christian.jpg" alt="..."
                                             class="avatar img-raised">
                                        <span>Lord Alex</span>
                                    </a>
                                </div>
                                <div class="stats ml-auto">
                                    <i class="material-icons">favorite</i> 342 ·
                                    <i class="material-icons">chat_bubble</i> 45
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body ">
                                <h6 class="card-category text-danger">
                                    <i class="material-icons">trending_up</i> Trending
                                </h6>
                                <h4 class="card-title">
                                    <a href="#pablo">To Grow Your Business Start Focusing on Your Employees</a>
                                </h4>
                            </div>
                            <div class="card-footer ">
                                <div class="author">
                                    <a href="#pablo">
                                        <img src="../assets/img/faces/christian.jpg" alt="..."
                                             class="avatar img-raised">
                                        <span>Lord Alex</span>
                                    </a>
                                </div>
                                <div class="stats ml-auto">
                                    <i class="material-icons">favorite</i> 342 ·
                                    <i class="material-icons">chat_bubble</i> 45
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body ">
                                <h6 class="card-category text-danger">
                                    <i class="material-icons">trending_up</i> Trending
                                </h6>
                                <h4 class="card-title">
                                    <a href="#pablo">To Grow Your Business Start Focusing on Your Employees</a>
                                </h4>
                            </div>
                            <div class="card-footer ">
                                <div class="author">
                                    <a href="#pablo">
                                        <img src="../assets/img/faces/christian.jpg" alt="..."
                                             class="avatar img-raised">
                                        <span>Lord Alex</span>
                                    </a>
                                </div>
                                <div class="stats ml-auto">
                                    <i class="material-icons">favorite</i> 342 ·
                                    <i class="material-icons">chat_bubble</i> 45
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
{{ end }}