{{ define "footer"}}
    <footer class="footer footer-default" style="margin-bottom: 1px">
        <div class="container">
            <nav class="float-left">
                <ul>
                    <li>
                        <a href="/v1/recommand" class="nav-link">
                            推荐好文
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright float-right">
                &copy;
                <script>
                    document.write(new Date().getFullYear())
                </script>, 好文广场
                <a href="https://beian.miit.gov.cn">蜀ICP备2023030937号-2</a>
            </div>
        </div>
    </footer>

    <!--   Core JS Files   -->
    <script src="../assets/js/core/jquery.min.js" type="text/javascript"></script>
    <script src="../assets/js/core/popper.min.js" type="text/javascript"></script>
    <script src="../assets/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
    <script src="../assets/js/plugins/moment.min.js"></script>
    
{{ end }}